    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="details">
                <div class="club-banner">
                  
                    <img
                        class="club-banner-img"
                        src="{{teamDetails?.response?.team?.logo}}"
                        alt="background-image"
                    />
                </div>
            
                <div class="club-info">
                    <div class="details-wrapper">
                            <h1 class="club-name"> {{teamDetails?.response?.team.name}}</h1>
                        
                    </div>
                </div>
                <button type="button" class="btn btn-info" (click)="viewTeam(teamDetails.response.team.id)">
                   Team players
                </button>
                
                <br/>
                <button type="button" class="btn btn-info">
                  Last results
                </button>
               
                

                <div class="club-info">
                  <div class="club-form">
                      <p class="last-games">Last 5 games: {{teamDetails?.response?.form.slice(teamDetails?.response?.form.length-5)}} </p>
                  </div>
              
              <div class="club-statistics">
                  <div class="club-games">
                      <p class="club-victories">Victories: {{teamDetails?.response?.fixtures.wins.total}} </p>
                      <p class="club-draws">Draws: {{teamDetails?.response?.fixtures.draws.total}} </p>
                      <p class="club-losses">Losses: {{teamDetails?.response?.fixtures.loses.total}}</p>
                  </div>
                  
              </div>
              <div class="club-goals">
                  <p class="club-goals-for">Goals scored: {{teamDetails?.response?.goals.for.total.total}} </p>
                  <p class="club-goals-agaisnt">Goals conceded: {{teamDetails?.response?.goals.against.total.total}} </p>
                  <p class="club-clean-sheets">Clean-sheets: {{teamDetails?.response?.clean_sheet.total}}  </p>
              </div>
  
             
            </div>
          </div>
        </div>


          <div class="col-sm">


            <app-fixture></app-fixture>


          </div>


          <div class="col-sm">
            <app-standing></app-standing>
          </div>
        </div>

      </div>

     
    




