<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
            [(ngModel)]= "sort"
        >
         <mat-option value="leagues">Leagues</mat-option>
         <mat-option value="clubs">Clubs</mat-option>
         <mat-option value="players">Players</mat-option>
         <mat-option value="predictions">Predictions</mat-option>
            
        </mat-select>
    </mat-form-field>
</div>


<app-teams></app-teams>

<!-- <div class="boxes">
    <ng-container *ngFor="let response of modelTeams?.response">
    <div class="box">
        <div class="box-thumb-container">
            <img
            src="{{response.team.logo}}"
            alt="thumbnail"
            class="center"
            />
        </div>
        <div class="box-name">
            <p class="box-name">{{response.team.name}}</p>
        </div>
        <div class="box-country-name">
            <p class="box-country-name">{{response.team.country}}</p>
        </div>
    </div>
</ng-container>
</div> -->