.player-banner-img
{
    height:300px;
    justify-content: center;
    margin-left:40px;

}


.player-info, .player-stats, .goalkeeper-stats{

       
    color:#fff;
    font-weight: 400;
    font-size: 28px; 
    margin-top: 10%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: center;
    margin-left:40px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;

}

