.player-banner-img
{
    height:400px;
    justify-content: center;
    margin-left:40px;

}


.player-info, .player-stats{

       
    color:#fff;
    font-weight: 700;
    font-size: 16px; 
    margin-top: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: center;
    margin-left:40px;

}

