<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
            [(ngModel)]= "sort"
            (selectionChange)="selectStanding(sort)"
        >
         <mat-option value="Goals">Top scorers</mat-option>
         <mat-option value="Assists">Assists</mat-option>
         <mat-option value="Yellow Cards">Yellow cards</mat-option>
         <mat-option value="Red Cards">Red Cards</mat-option>
            
        </mat-select>
    </mat-form-field>
</div>


<div class="container">
    <table class="standing-table">
        <thead>
            <tr>
                <th>PLAYER</th>
                <th>NAME</th>
                <th>{{sort.toUpperCase()}}</th>
             
            </tr>
        </thead>
    
        <tbody >
            <ng-container *ngFor= "let player of playerStanding?.response">
                <tr class =" player-display" (click) ="displayPlayer(player?.player.id)">
                    <td class="player-banner">
                        <img 
                             src="{{player?.player.photo}}"
                             alt="background-image"
                             class="player-image"
                             >
    
                            
                    </td>
    
                    <td >{{player.player.name}}</td>
    
                    <td *ngIf="sort == 'Goals'">{{player?.statistics[0]?.goals.total}}</td>
                    <td *ngIf="sort == 'Assists'">{{player?.statistics[0]?.goals.assists}}</td>
                    <td *ngIf="sort == 'Red Cards'">{{player?.statistics[0]?.cards.red}}</td>
                    <td *ngIf="sort == 'Yellow Cards'">{{player?.statistics[0]?.cards.yellow}}</td>
         
                </tr>
               
               
               
                
            </ng-container>
            
            
        </tbody>
    </table>
</div>
