
<div *ngIf="leagueApi?.Value == null; then nonCachedResponse else cachedResponse"></div>

<ng-template #cachedResponse>
  <div class="boxes">
    <ng-container *ngFor="let league of leagueApi?.Value">
      <div class="box" (click)="viewMore(league.response[0].league.id)" >
          <div class="box-thumb-container">
              <img
              src="{{league.response[0].league.logo}}"
              alt="thumbnail"
              class="box-league-image"
              />
          </div>
         
      </div>
    </ng-container>
  </div>
  
</ng-template>


<ng-template #nonCachedResponse>
  <div class="boxes">
    <ng-container *ngFor="let league of leagueApi">
      <div class="box" (click)="viewMore(league.response[0].league.id)" >
          <div class="box-thumb-container">
              <img
              src="{{league.response[0].league.logo}}"
              alt="thumbnail"
              class="box-league-image"
              />
          </div>
         
      </div>
    </ng-container>
  </div>
 
</ng-template>