

<div class="boxes">
    <ng-container *ngIf="players?.Value?.response == null;then nonCachedResponse else cachedResponse"></ng-container> 


    <ng-template #nonCachedResponse>
        <ng-container *ngFor="let response of players?.response">
            <div class="box" (click)="openPlayerDetails(response?.player?.id)">
                <div class="box-thumb-container">
                    <img
                    src="{{response.player.photo}}"
                    alt="thumbnail"
                    class="player-iamge"
                    />
                </div>
                <div class="box-name">
                    <p class="box-name">{{response.player.name }}</p>
                </div>
                <div class="box-player-age">
                    <p class="box-player-age">Age : {{response.player.age}}</p>
                </div>
                <div >
                    <p class="box-player-coutry">Country: {{response.player.birth.country}}</p>
                </div>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #cachedResponse>
        <ng-container *ngFor="let response of players?.Value?.response">
            <div class="box" (click)="openPlayerDetails(response?.player?.id)">
                <div class="box-thumb-container">
                    <img
                    src="{{response.player.photo}}"
                    alt="thumbnail"
                    class="player-iamge"
                    />
                </div>
                <div class="box-name">
                    <p class="box-name">{{response.player.name }}</p>
                </div>
                <div class="box-player-age">
                    <p class="box-player-age">Age : {{response.player.age}}</p>
                </div>
                <div >
                    <p class="box-player-coutry">Country: {{response.player.birth.country}}</p>
                </div>
            </div>
        </ng-container>
    </ng-template>
    
</div>
