.league-table{
    border-collapse: collapse;
    margin:25px 0;
    color: #fff;
    font-size: 0.9em;
    min-width:400px;
    border-radius:5px 5px 0 0;
    overflow: hidden;
   
}

.league-table thead tr{
    background-color: #009879;
    color:#fff;
    text-align: left;
    font-weight: bold;
}

.league-table th, .league-table td{
    padding: 12px 15px;
}


.league-table tbody tr{
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.league-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.league-table tbody tr.active-row{
    font-weight: bold;
    color: #00ff00;
}

.matches-played, .points, .goal-diff{
    text-align: center;
}