.home-team-img, .away-team-img
{
    height : 125px;
}

.fixture-table thead tr{
    background-color: #009879;
    color:#fff;
    text-align: left;
    font-weight: bold;
    
}

.fixture-table{
    color : #fff;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
}

.fixture-table thead{
  
    
    margin-bottom: 5px;
  
}

.awayGoalsTd, .homeGoalsTd
{
   color:#fff;
   font-size:30px;
 
}    


.hoemTh, .awayTh
{
    color : #fff;
    text-align: center;
}

